<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Price Alerts</title>

    {% include 'html_dependencies.jinja2' %}

</head>
<body>

<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" title="Home">Pricing</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/" title="Stores">Stores</a></li>
                <li><a href="/news" title="Alerts">Alerts</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user %}
                    <li><a href="/view-profile" title="Your Alerts"><span class="glyphicon glyphicon-user"></span> Your Alerts</a></li>
                    <li><a href="/logout" title="Log Out"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                {% else %}
                    <li><a href="/register" title="Sign up"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
                    <li><a href="/login" title="Log in"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
                {% endif %}
            </ul>
            ​
        </div>
    </div>
</nav>

<div class="content container">
    {% block content %}

    {% endblock %}
</div>

</body>
</html>