{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header">
        <h1>Alerts
            <small>showing already existing alerts</small>
        </h1>
    </div>
    <div class="list-group">
        {% for alert in alerts %}
            <a href="/alerts/{{ alert._id }}"
               class="list-group-item {{ 'list-group-item-warning' if not alert.active else '' }}">
                <h4 class="list-group-item-heading">
                    {{ "<span class='glyphicon glyphicon-remove-circle'></span> " if not alert.active else '' }}
                    Alert for {{ alert.item.name }}
                </h4>
                <p class="list-group-item-text">Last price found <strong>£{{ alert.item.price }}</strong><br/>Last
                    checked on <strong>{{ alert.last_checked.strftime("%d-%m-%Y %H:%M") }}</strong></p>
            </a>
        {% endfor %}
    </div>
    <a class="btn btn-success" href="{{ url_for('alerts.create_alert') }}"><span
            class="glyphicon glyphicon-plus"></span> Create new</a>
{% endblock %}