{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header">
        <h1>Edit Store</h1>
    </div>
    <div class="form">
        <form method="post">
            <div class="form-group">
                <label for="name">Store name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ store.name }}">
            </div>
            <div class="form-group">
                <label for="url_prefix">Store URL Prefix</label>
                <input type="text" class="form-control" id="url_prefix" name="url_prefix" placeholder="http://..."
                aria-describedby="storeURLPrefixHelp" value="{{ store.url_prefix }}">
                <span id="storeURLPrefixHelp" class="help-block">What characters do URLs of all items in this online store start with?</span>
            </div>
            <div class="form-group">
                <label for="tag_name">Tag name</label>
                <input type="text" class="form-control" id="tag_name" name="tag_name" placeholder="span"
                       aria-describedby="tagNameHelp" value="{{ store.tag_name }}">
                <span id="tagNameHelp" class="help-block">What is the HTML tag of the item that contains the item price? (usually 'span')</span>
            </div>
            <div class="form-group">
                <label for="query">Query</label>
                <input type="text" class="form-control" id="query" name="query" placeholder='{"id": "..."}'
                       aria-describedby="queryHelpBlock" value='{{ store.query | tojson }}'> <!-- If using double quotes here, it breaks! -->
                <span id="queryHelpBlock" class="help-block">What JSON query would we have to do to find the specific tag with the price?</span>
            </div>
            <button type="submit" class="btn btn-warning">Update</button>
        </form>
    </div>
{% endblock %}