{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header">
        <h1>Stores
            <small>list of stores supported</small>
        </h1>
    </div>
    <div class="list-group">
        {% for store in stores %}
            <!-- Display list of stores here as
             <a href="#"
               class="list-group-item">
                <h4 class="list-group-item-heading">
                    store_name
                </h4>
                <p class="list-group-item-text">Some store information or URL</p>
            </a>
             -->
        {% endfor %}
    </div>
    <a class="btn btn-success" href="{{ url_for('stores.create_store') }}"><span
            class="glyphicon glyphicon-plus"></span> Create new</a>
{% endblock %}